$font-main: 'Arial Rounded MT Bold', Arial, sans-serif;
$font-normal-size: 16px;
$font-large-size: 30px;

// li style
$rounded-radius: 60px;
$default-radius: 15px;

// button success
$body-bg: #FFFFFF;
$button-bg-color: #F5DEB3;
$button-font-color: #000000;
$button-bg-hover-color: #049A46;
$button-font-hover-color: #ffffff;
$tile-hover-color: #FFFAF0;
$pagination-row-bg: #fffff;
$line-break-color: #8c8b8b;
