<div class="row">
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 text-center pagination-row">
    <button class="btn btn-info" ng-disabled="$ctrl.currentPage == 0" ng-click="$ctrl.currentPage=$ctrl.currentPage-1">
      Previous
    </button>
    <span class="page-info">{{$ctrl.currentPage+1}} / {{$ctrl.numberOfPages()}}</span>
    <button class="btn btn-info" ng-disabled="$ctrl.currentPage >= $ctrl.bouquetsLength/$ctrl.pageSize - 1"
            ng-click="$ctrl.currentPage=$ctrl.currentPage+1">
      Next
    </button>
  </div>
</div>
